/*
  #EDC7B7 -BEIGE
  #EEE2DC -LIGHT GREY
  #BAB2B5 -DARKER GREY
  #123C69 -BLUE
  #AC3B61 -PINK
*/

/*
  #F8E9A1 - YELLOW
  #F76C6C - RED
  #A8D0E6 - LIGHT BLUE
  #374785 - MED BLUE
  #24305E - DARK BLUE
*/

/*
  #050517 -- dark
  #c3423F -- red
  #f4e3b2 -- beige
  #d3d5d7 -- grey -- f7fbff
  #028090 -- blue
*/


body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  min-height: 100vh;
}

/*font-family: 'Open sans', sans-serif;*/

#root {
  --main-bg-color: #f7fbff;
  --secondary-bg-color: #050517;
  --tertiary-bg-color: #f4e3b2;
  --tertiary-darker-bg-color: #d3d5d7;
  --main-attn-color: #028090;
  --secondary-attn-color: #c3423F;
  --tertialy-attn-color: #df928e;
  background-color: var(--main-bg-color) ;
  min-height: 100vh;
}


table {
  font-family: 'Roboto mono', monospace;
  background-color: white;
  font-size: .9em;
  border: 1px solid;
  width: 100%;
  border-collapse: collapse;
}

.demonstration {
  color: var(--secondary-bg-color);
}

.interpretation {
  color: var(--tertiary-bg-color);
  background-color: var(--secondary-bg-color);
  padding: .9em;
}
h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

#title {
  color: var(--secondary-bg-color) ;
  padding: 5px;
}

h2 {
  font-size: 1.4em;
}

#navbar {
  font-family: 'Roboto Mono', sans-serif;
  background-color: var(--tertiary-bg-color);
  font-weight: 300;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 1em;
  padding-right: 1em;
  border: 1px solid var(--tertiary-darker-bg-color)
}

#icon {
  background-color: var(--main-attn-color);
  color: var(--main-bg-color);
  margin-left: 1em;
  border-radius: 2px;
}

#iconTwo {
  background-color: var(--secondary-attn-color);
  margin-left: 1em;
  border-radius: 2px;
  color: var(--main-bg-color);
}

#menu {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 4em;
  padding-top: 2em;
}

/* Width between demonstration and interpretation is relative
  because it is in flexbox */

button {
  font-size: 1em;
  min-height: 40px;
  border: none;
  border-radius: 25px;
  width: 125px;
}

.spanButton {
  background-color: var(--main-attn-color);
  color: var(--main-bg-color);
  width: 100%;
  border-radius: 2px;
}

.primaryButton {
  background-color: var(--main-attn-color);
}

.secondaryButton {
  background-color: var(--secondary-attn-color);
}



.ledgerDemoTransaction {
  font-family: 'Roboto Mono', sans-serif;
  padding: .75em;
  display: flex;
  border: 2px solid var(--main-attn-color);
  border-radius: 4px;
  flex-direction: column;
  width: 90%;
  background-color: white;
}

/* Individual pages below */

/* HOME PAGE */

#homePage {
}

#homeInterpretation {
}

#homeDemonstration {
}


/* LEDGER PAGE */
#ledgerPage {
  flex-direction: column;
  display: flex;
}

#ledgerDemo {
  display: flex;
  flex-direction: column;
}

#ledger {
  font-size: .8em;
  width: 40%;
  margin-left: 10px;
}

#ledgerExplanation {
  width: 60%
}

#ledgerFlexbox {
  display: flex;
  flex-direction: row;
}

/* LEDGER PROBLEM PAGE */

#ledgerProblemPage {
  display: flex;
  flex-direction: column;
}


/* HASHER PAGE */
.overflow {
  overflow-x: auto;
}


.hasherOutput {
  padding: .7em;
  height: 300px;
  font-size: .75em;
  width: 80%;
  background-color: white;
  border: 1px solid;
  overflow: hidden;
}

/* LEDGER HASH PAGE */

    /* 'official' transaction includes hashes and a 'formal' style */
.officialTransaction {
  border: 1px solid black;
  font-size: .8em;
  font-family: 'Roboto Mono', sans-serif;
  overflow: hidden;
}

.hash {
  margin: 0;
  background-color: #f4e3b2;
}

.data {
  margin: 0;
  color: white;
  background-color: #028090;
}

.dataVerified {
  background-color: var(--tertialy-attn-color);
}


.ledgerHashItem {
  padding-top: 1em;
  padding-bottom: 1em;
}

.hasherInput {
  height: 7em;
  border: none;
  overflow: scroll;
  border: 2px solid;
  background-color: white;
}

.hasherForm {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  margin-bottom: 1em;
}

.hasherButton {
  width: 100%;
}

.hasherButton:hover {
  border: none;
  background-color: var(--secondary-bg-color);
  color: white;
}

#resetHasherButton {
  background-color: var(--secondary-attn-color);
  color: white;
  margin-top: 1em;
}

#resetHasherButton:hover {
  background-color: white;
  color: var(--secondary-attn-color);
  border: 3px solid var(--secondary-attn-color);
}

#transactionButton {
  color: black;
  border: 2px solid #c3423F;
  background-color: white;
}

#transactionButton:hover {
  background-color: var(--tertiary-darker-bg-color);
}

/* BLOCKCHAIN PAGE */

.protoTransaction {
  text-align: center;
  width: 100px;
  border-left: 1px;
}
/*
#protoScheme {
  border: 3px solid black
}*/

.protoData {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-attn-color);
  height: 70px;
}

#demoBlockchain {
  display: flex;
}

  /* for an exceedingly simple component called Spacer. */
.spacer {
  width: 30px;
  display: flex;
  flex-direction: column;
}

.top {
  height: 50%;
  border-bottom: 4px dashed
}

/* for difficult hash page */
#manualNonce {
  display: flex;
  justify-content: space-around;
}

#manualNonceButton {
  width: 30%;
  background-color: var(--tertiary-bg-color);
}

#manualNonceButton:hover {
  background-color: var(--main-attn-color);
  color: white;
}
#nonceDisplay {
  height: fill;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
}

/* TRANSACTION HASH */
#passDataButton {
  width: 50%;
}